# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Maven

on:
  push:
    branches: [ hikari ]
  pull_request:
    branches: [ hikari ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Build with Maven
        run: mvn install -T 4 -f pom.xml -P github
      - name: my-artifact
        uses: actions/upload-artifact@v2
        with: 
          path: build-artifacts/artifact-*.jar
          
